.main
{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: white;
    align-items: center;
    font-weight: 600;
    color: #2b1f1f;
    font-size: 20px;
}

.main:hover
{
    color: orangered;
}

.main > .selected {
    background: maroon;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px 0 10px;
}
.user-name-item {
    display: flex;
    align-items: center;
}

.main div
{
    cursor: pointer;
}
.main img {
    height: 100px;
    width: 200px;
}