
h1 {
    font-size: 20px;
    margin-top: 5px;
}
img {
    width: 1500px;
    height: 500px;
    
}
#exploreMenuSection img {
    height: 203px;
}

.body{
  background-color: rgb(212, 206, 214);
  
}

.logo{
    height: 500px;
    width: 600px;
}






